@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amita&family=Carter+One&family=Courgette&family=Croissant+One&family=Emblema+One&family=Merienda+One&family=Merriweather+Sans:ital,wght@1,300;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* 

font-family: 'Aclonica', sans-serif;
font-family: 'Amita', cursive;
font-family: 'Carter One', cursive;
font-family: 'Courgette', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Emblema One', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;

 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(5, 241, 241);
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;

    background-color: #000000;
}

.header {
    background-image: linear-gradient(0deg, #001e41, #000041);
    background-image: -webkit-linear-gradient(90deg, #005bc5, #000041);
    width: 100%;
    height: 7em;
    display: flex;
}

.logo {
    width: 5em;
    height: 5em;
    filter: grayscale(100);
    filter: brightness(8);
    -webkit-filter: grayscale(100);
    -webkit-filter: brightness(8);

    margin: 0.9em 2em 0 2em;
}

#logo_img {
    width: 5em;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;

}

.logotxt {}

#headtxt {
    user-select: none;
    -webkit-user-drag: none;
    margin: 1em 0 0 0;
    color: beige;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;

}

#navbar {
    padding-top: 1.em;
    width: 100%;
    height: 3em;
    background-color: #005bc5;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    margin-right: 2em;
    font-size: 1.5em;
    font-family: 'Amita', cursive;
    font-weight: 600;
    color: antiquewhite;


}

/* nav a:nth-child(5) {
    margin-right: 0;
} */

nav a:hover {
    color: rgb(0, 0, 0);
}

#particles-js{
    width: 100%;
    height: 100%;
}
.main_container2{
    position: absolute;
    top: 13.5em;
    left:1.7em;
    width: 95.6%;
    height: 95.5%;
    padding: 5em;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

