@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amita&family=Carter+One&family=Courgette&family=Croissant+One&family=Emblema+One&family=Merienda+One&family=Merriweather+Sans:ital,wght@1,300;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* 

font-family: 'Aclonica', sans-serif;
font-family: 'Amita', cursive;
font-family: 'Carter One', cursive;
font-family: 'Courgette', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Emblema One', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;

 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(5, 241, 241);
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;

    background-color: #000000;
}

.header {
    background-image: linear-gradient(0deg, #001e41, #000041);
    background-image: -webkit-linear-gradient(90deg, #005bc5, #000041);
    width: 100%;
    height: 7em;
    display: flex;
}

.logo {
    width: 5em;
    height: 5em;
    filter: grayscale(100);
    filter: brightness(8);
    -webkit-filter: grayscale(100);
    -webkit-filter: brightness(8);

    margin: 0.9em 2em 0 2em;
}

#logo_img {
    width: 5em;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;

}

.logotxt {}

#headtxt {
    user-select: none;
    -webkit-user-drag: none;
    margin: 1em 0 0 0;
    color: beige;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;

}

#navbar {
    padding-top: 1.em;
    width: 100%;
    height: 3em;
    background-color: #005bc5;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    margin-right: 2em;
    font-size: 1.5em;
    font-family: 'Amita', cursive;
    font-weight: 600;
    color: antiquewhite;


}

/* nav a:nth-child(5) {
    margin-right: 0;
} */

nav a:hover {
    color: rgb(0, 0, 0);
}

#particles-js{
    width: 100%;
    max-height: 100%;
}

.card{
  
    width: 95%;
    height: 14em;
    position: absolute;
    top: 17em;
    left: 2em;
    display: flex;
justify-content: space-evenly;
   padding: 1em;


}

.card_itms{
    background-color: #005bc5;
    width: 9em;
    border-radius: 15px;
    border: 2px solid rgba(245, 245, 245, 0.708);
    padding: 1em;
    display: flex;
    justify-content: center;
    
   
    
    

}
.card_itms img{
    width: 6em;
    height: 6em;
    text-align: justify;
}
.context{
    position: absolute;
    top: 12em;
    left: 9em;
   
    width: 80%;
    height: 30em;
    display: flex;
    justify-content: center;
    background-color: rgba(134, 197, 252, 0.264);
    border:2px solid rgba(245, 245, 245, 0.559);
border-radius: 25px;
padding: 1em;
user-select: none;



}
#go{
   
    color: antiquewhite;
    font-family: 'Courgette', cursive;
    text-decoration: underline white;
    text-underline-offset: 6px;
    text-underline-position: 1px;
    margin-top: 1em;
    margin-bottom: 2em;
 height: 1em;
}

#para{
    padding: 2em;
    top: 9em;
    text-indent: 5em;
}

.last{
    width: 100%;
    height: 10em;
    /* background-color: aliceblue; */
    position: absolute;
    bottom: -15em;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}
.options{
  background-image: linear-gradient(0deg,rgb(27, 6, 44) ,#1414f4);
    height: 9em;
    padding: 1em;
}

.options h2{
    font-family: 'Carter One', cursive;
    font-weight: 100;
    color: aliceblue;
font-style: italic;
letter-spacing: 2px;

}
.options p{
    color: aliceblue;
    font-family: 'Aclonica', sans-serif;
    font-weight: 200;

}
q{
    margin-left: 5em;
    margin-top: 1em; 
    color: aliceblue;
}
.about_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda One', cursive;
    font-size: 20px;
   animation: linear infinite 5s color_ch;
   letter-spacing: 2px;
}


@keyframes color_ch{
    0%,100%{
        color:#fbffe3 ;
    }
 10%{
        color:#b3e099 ;
    }
    20%{
        color: #6c5b7b;
    }
    30%{
        color: #ffeaad;
    }
    50%{
        color: #fd0a54;
    }




}

#hearts{
animation: infinite linear 5s col;

}

@keyframes col {
    0%,100%{
        color: #fd0a54;
    } 10%{
        color: #ff0000;
    } 20%{
        color: #fde10a;
    } 30%{
        color: #00ff08;
    } 40%{
        color: #00ddff;
    } 50%{
        color: #0000ff;
    } 60%{
        color: #ff00f2;
    }
}